<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">
  <title>
    {% block title %}{% endblock %} | TrueCount
  </title>

  <!-- ===== Head Start ===== -->
  {% include 'includes/head.html' %}
  <!-- ===== Head End ===== -->

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="min-h-full">

<div class="w-full">

  <!-- ===== Header Start ===== -->
  {% include 'includes/header.html' %}
  <!-- ===== Header End ===== -->

  <main class="lg:relative w-full max-w-screen-xl mx-auto">
    <div class="relative">
      <div class="pb-12 pt-16 sm:pb-4 lg:pt-12">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </main>
</div>

<div class="w-full">
  <div class="max-w-screen-xl mx-auto py-5 text-center">
    <span>© 2024 TrueCount. All rights reserved.</span>
  </div>
</div>

<!-- Vue JS  -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
</body>
</html>